@model bLibrary.Models.Identity.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вход</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        @Html.ValidationSummary(false)
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div>
            @Html.LabelFor(x => x.UserName)
            <div>
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div>
            @Html.LabelFor(x => x.Password)
            <div>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <br />
        <div>
            <div>
                <input type="submit" value="Войти" />
            </div>
        </div>
        <br />
        <div>
            <div>
                @Html.ActionLink("Не зарегистрированы?", "Register", "Account")
                <br />
                <label>или</label>
                <br />
                @Html.ActionLink("Забыли пароль?", "ForgotPassword", "Account")
            </div>
        </div>
    </div>
}