@model bLibrary.Models.Identity.RegisterModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Форма регистрации</h2>
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <div>
            @Html.LabelFor(x => x.UserName)
            <div>
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div>
            @Html.LabelFor(x => x.Age)
            <div>
                @Html.EditorFor(model => model.Age)
                @Html.ValidationMessageFor(model => model.Age)
            </div>
        </div>
        <div>
            @Html.LabelFor(x => x.Email)
            <div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div>
            @Html.LabelFor(x => x.Password)
            <div>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div>
            @Html.LabelFor(x => x.ConfirmPassword)
            <div>
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
        <br />
        <div>
            <div>
                <input type="submit" value="Зарегистрироваться" />
            </div>
        </div>
        <br />
        <div>
            <div>
                @Html.ActionLink("Уже зарегистрированы?", "Login", "Account")
            </div>
        </div>
    </div>
}