@model bLibrary.Models.Identity.ResetPasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Сменить пароль</h2>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        @Html.HiddenFor(x => x.Code)
        <div>
            @Html.LabelFor(x => x.Email)
            <div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <br />
        <div>
            @Html.LabelFor(x => x.Password)
            <div>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <br />
        <div>
            @Html.LabelFor(x => x.ConfirmPassword)
            <div>
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
        <br />
        <div>
            <div>
                <input type="submit" value="Сменить пароль" />
            </div>
        </div>
    </div>
}