@model Microsoft.AspNet.Identity.EntityFramework.IdentityUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Настройки</h2>
@using (Html.BeginForm("EditSettings", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.PasswordHash)
        @Html.HiddenFor(model => model.SecurityStamp)
        <div>
            @Html.LabelFor(x => x.UserName)
            <div>
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div>
            @Html.LabelFor(x => x.Email)
            <div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div>
            @Html.LabelFor(x => x.PhoneNumber)
            <div>
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>
        <br />
        <div>
            <div>
                <input type="submit" value="Сохранить" />
            </div>
        </div>
    </div>
}