<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar-nav">
        <table  class="nav navbar-nav">
            <tr>
                <td align="center" width="580px">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <font size="5">@Html.ActionLink("Выйти", "Logout", "Account")</font>
                    }
                    else
                    {
                        <font size="5">@Html.ActionLink("Войти", "Login", "Account")</font>
                    }
                </td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <td align="center" width="580px">
                        <font size="5">@Html.ActionLink("Панель администратора", "AdminPanel", "Layout")</font>
                    </td>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <td align="center" width="580px">
                        <font size="5">@Html.ActionLink("Настройки аккаунта", "Settings", "Layout")</font>
                    </td>
                }
                <td align="center" width="580px"><input type="image" onclick="location.href='/Home/MainPage'" src="~/Files/Layout/library.jpg" /></td>
                <td align="center" width="580px">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                    {
                        <input placeholder="Поиск по произведениям" type="text" name="name">
                        <br />
                        <br />
                        <input type="submit" value="Поиск" />
                    }
                </td>
            </tr>
        </table>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Онлайн-библиотека</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @RenderSection("scripts", required: false)
</body>
</html>
