@model bLibrary.Models.Review
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Редактирование отзыва</h2>
@using (Html.BeginForm("EditReview", "Review", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        @Html.HiddenFor(x => x.ReviewId)
        @Html.HiddenFor(x => x.Book.BookId)
        @Html.HiddenFor(x => x.User.UserName)
        <div>
            @Html.LabelFor(x => x.Status)
            <div>
                @Html.EnumDropDownListFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>
        <br />
        <div>
            @Html.LabelFor(x => x.UserReview)
            <div>
                @Html.TextAreaFor(model => model.UserReview)
                @Html.ValidationMessageFor(model => model.UserReview)
            </div>
        </div>
        <br />
        <div>
            @Html.LabelFor(x => x.IsRecommended)
            <div>
                @Html.RadioButtonFor(x => x.IsRecommended, true)
                <span>Рекомендую</span> <br />
                @Html.RadioButtonFor(x => x.IsRecommended, false)
                <span>Не рекомендую</span> <br />
                @Html.ValidationMessageFor(model => model.IsRecommended)
            </div>
        </div>
        <br />
        <div>
            <div>
                <input type="submit" value="Обновить" />
            </div>
            <br />
            <div>
                <input type="button" value="Удалить" onclick="location.href='/Review/DeleteReview/@Model.ReviewId'" />
            </div>
        </div>
    </div>
}