@model PagedList.IPagedList<bLibrary.Models.Book>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Найденые результаты :</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <div>
            <table>
                <tr>
                    @foreach (bLibrary.Models.Book book in Model)
                    {
                        <td>
                            <input type="image" onclick="location.href = '/Book/GetBook/@book.BookId'; return false;" src="@System.Configuration.ConfigurationManager.AppSettings["Cover"]@book.CoverLink" />
                            <br />
                            @Html.Label(book.Name)
                        </td>
                    }
                </tr>
            </table>
        </div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Search", new { name = ViewBag.Name, page }))
    </div>
}